/**
 * Admin CRUD Styles
 * Author: Nigel Stewart
 */

/**
 * Log In
 */
#admin_login {
    color: #414a65;
    margin: 200px auto;
    width: 500px;
}

#admin_login img {
    margin-bottom: 10px;
}

#admin_login input {
    float: right;
}

#admin_login p {
    text-align: center;
}

#admin_login .btn {
    margin: 20px auto 0;
}

/**
 * Aggregates page
 */
.ag-header {
    font-size: 20px;
}

/**
 * CRUD Navigation
 */
.navbar {
    border-radius: 0 !important;
}

.navbar a {
    font-size: 18px;
}

.navbar .navbar-brand {
    margin: 0; padding: 5px;
    color: #5EA928 !important;
}

.navbar .navbar-brand img {
    margin: 0; padding: 0;
    width: 40px; height: 40px;
}

/**
 * CRUD Content
 */
.panel-heading h1 {
    font-size: 24px;
    display: inline;
}

.panel-heading .add-new {
    cursor: pointer;
    float: right;
    font-size: 18px;
    display: inline;
}

#search-bar {
    font-size: 16px;
    border-radius: 0;
}

/**
* Search bar
*/
.inner-addon {
    position: relative;
}

.inner-addon .glyphicon-search {
  font-size: 16px;
  color: rgb(115,115,115);
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon .glyphicon-search  { left:  0px;}
.right-addon .glyphicon-search { right: 0px;}

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/**
 * Glyph Icon Colours
 */
.glyphicon-list-alt {
    color: rgb(16, 149, 224);
}

.glyphicon-plus {
    color: rgb(82, 208, 117);
}

.glyphicon-pencil {
    cursor: pointer;
    color: rgb(81, 142, 172);
}

.glyphicon-remove {
    cursor: pointer;
    color: rgb(191, 70, 70);
}

 .glyphicon-eye-open {
    cursor: pointer;
    color: rgb(99,99,99);
    margin-left: 10px;
 }

/**
 * Single
 */

.input-group {
    width: 100%;
    margin-bottom: 10px;
}

input {
    height: 100% !important;
}

.input-group-addon {
    min-width: 200px;
    text-align: left;
}

/**
 * Modal
 */
.timestamps, .account-status {
    text-align: right;
    padding: 8px;
}

.text-left {
    text-align: right !important;
}

.text-right {
    text-align: left !important;
}

.review-group, .review-group > textarea {
    height: 300px !important;
}

textarea {
    resize: none;
}
