/**
 * HOME PAGE
 * Author: Nigel
 */

.content {
  margin-bottom: 30px;
  padding: 0;
  max-width: 960px;
  background-color: #e5f2f5;
}

.category {
  margin-top: 45px;
}

.genre-link {
  float: left;
  padding: 5px 15px; margin: 0 0 0 5px;
  color: #ffffff;
  background-color: #5ea928;
}

.genre-link:hover {
  color: #ffffff;
  text-decoration: none;
}

.view-more {
  padding: 5px; margin: 0;
  float: right;
  color: #1c1c1c;
}

.slider {
  margin-top: 20px;
  margin-bottom: 40px;
}

.slick-arrow::before {
  color: #333333;
}

.slick-dots {
    position: relative;
}

div.slick-slide > a {
    text-align: center !important;
}

div.slick-slide > a > img {
  margin: 0 auto;
  width: 120px;
  height: 180px;
}

.search-dropdown {
    position: absolute;
    z-index: 1000;
    background-color: #ffffff;
    padding: 6px;
    margin-left: 4px;
}

/*
    Created on : 15-Nov-2016, 9:53:52 AM
    Author     : Sanders
*/

html{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden;
    font-family : Arial, sans-serif;
}

i{
    color:#fff;
}

textarea{
    margin-left: 15px;
    width:97%;
}

.tagline_style{
    color: #5ea928;
    font-size: 20px;
    margin-left: 36px;
    margin-top: 28px;
    display: inline-block;
}
.util_nav{
    margin-right: 36px;
}
.util_nav li{
    display: inline-block;
    float: right;
    list-style-type: none;
    margin-top: 28px;
}
.util_nav li a{
    text-decoration: none;
    color: #333;
    padding: 5px;
}
.cart_left_padding{
    padding-left: 10px;
}
#logo{
    margin-left: 36px;
    margin-bottom:10px;
}
#search{
    float: right;
    margin-right: 28px;
    margin-top: 35px;
}
#search_box input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px 7px 5px 7px;
}

#search a{
    font-size: 18px;
}
#search a:hover{
    font-size: 19px;
    text-decoration: none;
}
#main_nav{
    background-color: #5ea928;
}
#main_nav .container{
    max-width: 960px;
    margin: 0 auto;
}
#main_nav ul li{
    list-style-type: none;
}
#main_nav ul li a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    float: left;
    padding: 10px 50px 10px 50px;
}
#main_nav ul li a:hover{
    background-color: #80be53;
}
.main_content{
    min-height: 500px;
}
#footer{
    background-color: #000;
    min-height: 150px;
    clear: both;
    color: #fff;
}
#footer .location{
    padding: 10px;
}
#footer .phone{
    padding: 10px;
}
#footer .mail{
    padding: 10px;
}
.footer_nav{
    padding-top: 10px;
    text-align: center;
}
.footer_nav li{
    display: inline-block;
    list-style-type: none;
}
.footer_nav li a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}
ul{
    padding:0;
}
.footer_logo{
    padding-top: 10px;
    padding-left: 20px;
}

/* navbar */
.navbar-custom {
    background-color: #5EA928;
    border-color: #5EA928;
    border-radius: 0;
}
/* title */
.navbar-custom .navbar-brand {
    color: #fff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #fff;
}
/* link */
.navbar-custom .navbar-nav > li > a {
    color: #fff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #8ed85a;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #8ed85a;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #8ed85a;
}
/* mobile version */
.navbar-custom .navbar-toggle {
    border-color: #5EA928;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #8ed85a;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #fff;
}
@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #5EA928;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #8ed85a;
    }
}

.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group * {
  font-size: 2.5rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}

.review-form{
    background-color:#eee;
    border-top:1px solid #333;
    border-bottom:1px solid #333;
    margin-bottom:15px;
}

.no-review{
    font-size:1.5em;
}

.green{
    color:#5EA928;
}

#low-padding{
    padding:5px;
}

/* End Sanders */

/**
 * Mobile Media Query
 * Author: Sanders & Nigel
 */
@media (max-width: 767px) {
    .navbar {
    margin-bottom: 0px;
    }
    .responsive img{
        width:100%;
    }
    .util_nav li{
        margin-top: 7px;
    }
    .util_nav li:last-child{
        display:none;
    }
    #logo{
        margin-left:0;
        padding:0;
        max-width: 300px;
    }
    #footer-contact{
        margin:0 auto;
        width:100%;
        text-align: center;
    }

    .content {
      margin-bottom: 0px;
    }
}

/*-- Classes --*/
.responsive{
    margin:0 auto;
}

/*  Product Detail Page, footer and category page
    Created on : 16-Nov-2016, 11:41:02 AM
    Author     : Bhumi
*/

.main_content{
    max-width: 960px;
    margin: 0 auto;
    background-color: #e5f2f5;
}
.main_content .container{
    max-width: 960px;
}

.main_content{
    min-height: 500px;
}
/** detail style*/
#detail_info h3{
    font-weight: bold;
}
.image_detail_padding img{
    max-width: 100%;
    height: auto;
}
.image_detail_padding{
    margin-top: 25px;
}
#quantity{
    width: 30px;
    height: 30px;
    padding: 3px;
    text-align: center;
}
#green_button{
    margin-top: 20px;
    padding: 5px 8px;
}

.review h3{
    padding-left: 15px;
}
blockquote {
  background: #ddd;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  font-size: 16px;
  padding: 20px 10px 0px 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #ccc;
  content: no-close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/** footer socialmedia*/
.social{
  text-align: center;
  padding-top: 20px;
}
.about p{
  padding-top: 20px;
  padding-bottom: 20px;
}
/** category page css*/

#category_nav .cat-nav{
  padding: 8px;
}
#category_nav li.cat-nav{
  list-style-type: none;
}
#category_nav li.cat-nav a{
  color: #000;
  text-decoration: none;
}
#category_nav li.cat-nav a:hover{
  color: #5ea928;
  font-weight: bold;
}
#category_nav li.cat-nav a:active{
  color: #5ea928;
  font-weight: bold;
}
.sidebar_color{
  background-color: #f4f9fa;
  height: 100%;
  display: table-cell;
  padding: 9px 20px 20px 20px;
}
.responsive_image{
  width: 100%;
  max-width: 150px;
}
.green_bar{
  background-color: #5ea928;
  padding: 8px 15px 8px 8px;
  margin-left: 18.1%;
  color: #fff;
}
.responsive_about{
  max-width: 100%;
  width: 100%;
  height: auto;
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

@media screen and (max-width: 768px){
  .green_bar{
    margin-left: 0;
  }
}

/**Dropdown for navigation**/

.dropdown-menu{
  background-color: #8ed85a;
}
.dropdown-menu>li>a{
  color: #fff;
}
.dropdown-menu>li>a:hover{
  background-color: #5ea928;
  color: #fff;
}
@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a{
    color: #fff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu{
    background-color:#8ed85a;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover{
    color: #fff;
    background-color: #5ea928 ;
  }
}


/**bhumi - shopping cart */
.align_center{
  text-align: center;
  margin-top: 50px;
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }

    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }

    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }

    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}

}

/**Payment - Bhumi */
.panel-title
{
  display: inline;
  font-weight: bold;
}
.checkbox.pull-right
{
  margin: 0;
}
.pl-ziro
{
  padding-left: 0px;
}

.payment-style{
    margin: 0 auto;
}

/**checkout - bhumi*/
h2.bg-success{
    padding: 15px;
}

.required-lbl{
    color: red;
}

label[for="billinginformation"]{
    display: inline;
    float: left;
    margin:0px 45px 0px 0px;
}

.card-expiry{
    padding-left: 0px;
}

.confirm-btn{
    float:right;
}

.bg-primary{
    padding: 10px 10px 28px 10px;
}

label{
    margin-bottom :0px;
}

/** End bhumi's css*/

/* Khushboo */

label.select-label {
     display: inline-block;
     text-align: left;
     margin-right: 20px;
     margin-left: 10px;
     width: 150px;
   }
.error{
    color:red;
}

.form-group {
    margin-top: 10px;
}

.button  {
   text-decoration: none;
   display: inline-block;
   background-color: #5ea928;
   padding: 15px 32px;
   text-align: center;
   padding-bottom:30px;
   border: none;
   color: white;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
}


 fieldset input {
  width: 310px;
  float:right;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
 }
 fieldset label{

     margin-right:20%;
 }

@media(max-width: 767px) {
 fieldset input {
    width: 100%;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}}

form.log{
   width: 300px;
   margin: 50px auto;
}

fieldset#fieldlog {
    height: 300px;
    width: 50px;
}

#formbox{
  width: 450px;
  height: 450px;
  background-color:#ccc;
  padding:15px;
  margin:auto;
}

#orderdetailbox{
    background: #efefef;
    position: absolute;
    width: 400px;
    height: 480px;
    padding-left:5px;
    padding-right:5px;
    margin-left: 40px;
    box-shadow: 10px 10px 5px #888888;
    margin-top: auto;
    border-radius: 10px;
    left: 450px;
    margin-bottom:20px;
}
@media (max-width: 767px) {
   #bookpadding{
       padding-left:90px;
   }}


   .category_image{
       width: 240px;
       height: 290px;
       margin: 20px;
   }

   #category_detail_head{
       color: #5ea928;
   }
   .no-left-margin{
       padding-left: 0;
   }
   #category_detail_content{
       margin-top: 20px;
   }
   #category_images{

       margin-top: -10px;
       margin-left: -20px;
       padding-bottom: 20px;
   }
   #back_content{
       background-color: #e5f2f5;

   }
/*khushboo end*/

/**Payment - Bhumi */
.panel-title
{
  display: inline;
  font-weight: bold;
}
.checkbox.pull-right
{
  margin: 0;
}
.pl-ziro
{
  padding-left: 0px;
}

.payment-style{
    margin: 0 auto;
}

/**checkout - bhumi*/
h2.bg-success{
    padding: 15px;
}

.required-lbl{
    color: red;
}

label[for="billinginformation"]{
    display: inline;
    float: left;
    margin:0px 45px 0px 0px;
}

.card-expiry{
    padding-left: 0px;
}

.confirm-btn{
    float:right;
}

.bg-primary{
    padding: 10px 10px 28px 10px;
}

label{
    margin-bottom :0px;
}

/* Parminder */
.container {
        margin-bottom: 30px;
        padding: 0;
        max-width: 960px;
        background-color: #e5f2f5;
      }

      label{
          width: 90px;
          max-width: 100%;
      }
      #form_fields{
          margin-left: 90px;
      }
      #form_fields label,text{
          padding-bottom: 20px;
      }
      .form_button{
          padding: 7px;
          text-align: center;
          background-color: #5ea928;
          color: #fff;
      }
      .img-responsive{
          max-width: 400px;
          max-height: 380px;
          width: 100%;
      }
      @media (max-width: 767px) {
          .image_map h2{
          margin-top: 30px;
          margin-left: 10px;
      }
      #form_fields{
          margin-left: 10px;
      }
      .img-responsive{
          margin-left: 10px;
          margin-right: 10px;
      }
      .contact_info{
          margin-left: 10px;
      }
      }

      .category_image{
          width: 240px;
          height: 290px;
          margin: 20px;
      }

      #category_detail_head{
          color: #5ea928;
      }
      .no-left-margin{
          padding-left: 0;
      }
      #category_detail_content{
          margin-top: 20px;
      }
      #category_images{
          margin-top: -10px;
          margin-left: -20px;
          padding-bottom: 20px;
      }
      #back_content{
          background-color: #e5f2f5;
      }
/* End Parminder */

/* Mohit */
.green_tag {
    background-color: #5ea928;
    padding: 10px 15px;
    color: #fff;
}

.green_bg_color{
    background-color: #5ea928;
    color: #fff;
}

.padding_bottom_10{
    padding-bottom: 10px;
}

.margin_left_10 {
    margin-left: 10px;
}

.margin_top_10{
    margin-top: 10px;
}

.padding_10 {
    padding: 10px;
}

.center_text{
    text-align: center;
}

/*footer down nav links by parminder*/
.col-sm-6 #footer_down_nav{
    padding-top: 75px;
    text-align: center;
}
.col-sm-6 #footer_down_nav li{
    display: inline-block;
    list-style-type: none;
}
.col-sm-6 #footer_down_nav li a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

div.btn a{
    color: #fff;
    text-decoration: none;
}
